@page "/About"

<h4>スコアシートに関して</h4>
<p>スコアシートのテンプレートとして、日本バレーボール協会が公式ホームページで公開しているものをベースとしています。</p>

<h4>バグ報告</h4>
<p><a href="https://github.com/rikupin1105/VolleyballTools">GitHub</a>の<a href="https://github.com/rikupin1105/VolleyballTools/issues">Issue</a>にて報告してください。Pull Requestも受け付けています。</p>
